/nbproject/private/
/build/
/dist/
dist/Yunker.war
*.war
nbproject/private/private.properties
*.properties
*.xml
*.properties
*.properties
*.dpf

nbproject/project.xml
nbproject/project.properties
nbproject/private/private.properties
nbproject/genfiles.properties
nbproject/build-impl.xml
