/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-04-2018, 01:48:00 AM
    Author     : ricardopazdemiquel
*/
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#map{
    height: 100%;
}

.donwloadpanel{
    border: 1px solid;
    border-radius: 5px;
    margin: 10px;
   
}
.archivo_para_descargar{
    text-align: center;
    margin: 5px;
}
.archivo_para_descargar:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}
.mar_bot{
    border-bottom: 1px solid;
}
.long_line{
    width: 70%;
    height: 2px;
    display: inline-block;
    background-color: #A1B3A4;
    margin-top: 3%;
}
.separador{
    margin: 10px;
    border-bottom: 7px solid;
}

.btn_modulo:hover{
    cursor:pointer;   
}

.btn_modulo{
    width: 100%; 
    padding: 0px;
    margin: 10px !important;
    background-color: #f8f9fa !important; 
}

.btn_modulo_p_icon{
    width: 100% !important; 
    text-align: center;         
    
}
.btn_modulo_icon{
    background-color: #f8f9fa !important; 
    color: #007bff !important;
}
.btn_modulo_footer{
    text-align: center;
    background-color: #66ff5588;
    width: 100%;
}
.usr_foto_perfil{
    margin: 0px !important;
    padding: 0px !important;
}
// Articulo Style
.input_hover:hover{
    cursor:pointer !important;   
}

#myModal .modal-dialog {
    -webkit-transform: translate(0,-50%);
    -o-transform: translate(0,-50%);
    transform: translate(0,-50%);
    top: 50%;
    margin: 0 auto;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

//------Style compra -------
.contenedor {
    padding-top: 15px !important;
}

.div-from {
    margin-bottom: 0.5rem !important;   
}